# Go
bin/
obj/
*.o
*.a
*.so
.DS_Store
*.test
*.out
*.exe
*.dll
go.sum
.env
logs/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env.local
.env.*.local
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Database
*.sql.bak
*.db
*.sqlite
